# OS / editors
.DS_Store
.idea/
.vscode/*
.vscode/
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node / frontend
node_modules
dist
dist-ssr
coverage
*.local
.env
.env.*
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/application-secrets.properties
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Java / Spring / Maven
target/
build/
HELP.md
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Java IDE files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.iws
*.iml
*.ipr
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
